@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>AGL Coding Test.</h1>
    <h3>Coding test done on behalf of Readify.</h3>
    <br />
    <br />
    <h4>>> Go <a asp-action="Test">here</a> for the output. </h4>
    
    <br/>
    <br/>
    <p>
        <h4>
            <b>Dasith Wijesiriwardena</b> - <a href="mailto:dasith.wijes@readify.net">dasith.wijes@readify.net</a><br />
        </h4>
    </p>

    
</div>
