@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>AGL Coding Test.</h1>
    <h3>Coding test done on behalf of Readify.</h3>
    <br/>
    <br/>
    <h4>Go <a asp-action="Test">here</a> for the output. </h4>
</div>
