@using AglCodingTest.Core.Domain
@{
    ViewData["Title"] = "Test Page";
}

<h3>@ViewData["Message"]</h3>

<div>
    <div>
        @foreach (TestViewModel vm in ViewBag.Model)
        {
            <h4>@vm.Gender</h4>
            <br />
            <ul>
                @foreach (Pet p in vm.Pets)
                {
                    <li>@p.Name</li>
                }
            </ul>
            <br/>
         }
</div>
</div>
